@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Your default theme */
  --background: white;
  --foreground: black;
  --primary: #8174A0;    /* رنگ اصلی */
  --secondary: #A888B5;  /* رنگ ثانویه */
  --danger: #EFB6C8;   
}

[data-theme='dark'] {
  --background: black;
  --foreground: white;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


.dynamic-padding {
  padding-right: calc(100vh / 4);
  padding-left: calc(100vh / 4);
}

@media (max-width: 1710px) { 
  .test {
    padding-right: 0;
    padding-left: 0;
  }
}
input[type="radio"] {
  appearance: none; /* ظاهر پیش‌فرض را حذف می‌کند */
  width: 20px;
  height: 20px;
  border: 2px solid #ffffff;
  border-radius: 0%;
  outline: none;

  cursor: pointer;
  transition: all 0.3s ease;
}

input[type="radio"]:checked {
  background-color: #007733;
  border-color: #ffffff;
}

input[type="radio"]:hover {
  transform: scale(1.1);
}